<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wq.allandroid">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_test1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.wq.activity.TextViewActivity"></activity>
        <!-- exported: 允许其他应用调用；process：指定运行进程 -->
        <service
            android:name="com.wq.service.MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <meta-data
            android:name="test"
            android:value="beyond" /> <!-- activity -->
        <activity android:name="com.wq.app.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wq.app.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.wq.activity.TestListActivity" />
        <activity android:name="com.wq.activity.CustomActivity" />
        <activity android:name="com.wq.manager.nitification.NotificationActivity" />
        <activity android:name="com.wq.base.BaseActivity" />
        <activity android:name="com.wq.resusage.ResUsageActivity" />
        <activity android:name="com.wq.view.dialog.DialogActivity" />
        <activity android:name="com.wq.view.viewpager.vptransformer.ui.VPTransformerActivity" />
        <activity android:name="com.wq.manager.ui.ManagerFunctionActivity" /> <!-- animation -->
        <activity android:name="com.wq.animation.StartAnimationActivity" />
        <activity android:name="com.wq.animation.tween.TranslateActivity" />
        <activity android:name="com.wq.animation.tween.ScaleActivity" />
        <activity android:name="com.wq.animation.tween.AlphaActivity" />
        <activity android:name="com.wq.animation.tween.RotateActivity" />
        <activity android:name="com.wq.animation.tween.AnimationSetActivity" />
        <activity android:name="com.wq.animation.tween.AnimationUtilActivity" />
        <activity android:name="com.wq.animation.property.BasePropertyActivity" />
    </application>

</manifest>